* {
    margin: 0;
    padding: 0;
    }
    
    
    #logo {
    width: 5%;
    height: 5%;
    }
    
    
    .header-pai {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    nav li {
        display: inline;
        padding: 20px;
    }
    
    
    nav a {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    nav a:hover {
        color: rgb(0, 222, 204);
        text-decoration: underline;
    }
    
    
    #banner-topo {
    width: 100%;
    }
    
    
    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
       
    }
    
    
    body {
        background: rgb(63, 94, 251);
        background: orange;
    }
    
    
    .texto {
    background-color: yellow;
    font-size: 35px;
    text-align: center;
    }
    